/*
Verwendung einer Vorlage aus dem Modul Webtechnologien
*/
body{
    background-color: whitesmoke; 
    color: black;
}
.tilt-navbar{
    background-color: yellow;
}

.tilt-tr{
    border-style: none;
}
.tilt-h1,.tilt-h2{
    color: #2775aa;
    background-color: whitesmoke;
    padding: 15px 15px 15px 15px;
    margin:0px;
}
.tilt-h2{
    margin-bottom: 20px;
    border-bottom-width: thin;
    border-bottom: #2775aa;
    border-bottom-style: solid;
}

.tilt-h3{
    letter-spacing: 1px;
}
.tilt-h3::first-letter{
    color: #2775aa;
}


h1,h2{
    color: #2775aa;
    background-color: whitesmoke;
    padding: 15px 15px 15px 15px;
    margin:0px;
}

h2{
    margin-bottom: 20px;
}

h3{
    letter-spacing: 1px;
    padding: 15px;
}
h3::first-letter{
    color: #2775aa;
    font-style: bold;
}

td{
    padding: 5px;  
}

/*    border-radius: 15px 15px 15px 15px;
*/
input{
    border-color:#6c757d;
    border-radius: 5px 5px 5px 5px;
    border-width: 100%;
}
#invite:hover, input[type="submit"]:hover{   
    background-color: whitesmoke;
}
h2{
    border-bottom-width: thin;
    border-bottom: #2775aa;
    border-bottom-style: solid;
}

input[type="submit"]{
    margin: 0px 30px 0px 30px;
}
table{
    border-color: #2775aa;
    border-style: solid;
    border-width: 3px;
    margin: 5px 5px 5px 5px;
}
/*    padding: 15px 15px 15px 15px;
*/
/*
.dropdown-pic{
    width: 10px ;
    height:5px ;
}
*/
.navbar-brand-logo{
    height:50px;
    width:70px;
}

/* background-color: #2775aa !important;*/
/* background-color: #0d334e !important;*/

.navbar {
    background-color: #2775aa !important;
}

/*color: #a0acac !important; */
.navbar-brand{
    color: #a0acac !important; 
}

.nav-link{
    color: #a0acac !important; 

}

.btn{
    background-color: #2775aa !important;
}
/*
.btn-outline-success{
    color: #a0acac !important;
}
*/
.dropdown-item {
    color: #2775aa
}
.dropdown-item:hover {
    background-color: #2775aa;
    color: whitesmoke;
}