/*Verwendung einer Vorlage aus dem Modul Webtechnologien
*/
body{

    background-color: white;
    color:black;
}

.tilt-tr{
    border-style: none;
}
.tilt-h1,.tilt-h2{
    color:blue;
    background-color: aliceblue;
    padding: 15px 15px 15px 15px;
    margin:0px;
}
.tilt-h2{
    margin-bottom: 20px;
    border-bottom-width: thin;
    border-bottom: blue;
    border-bottom-style: solid;
}

.tilt-h3{
    letter-spacing: 1px;
}
.tilt-h3::first-letter{
    color:rgb(101, 190, 253);
}


h1,h2{
    color:blue;
    background-color: aliceblue;
    padding: 15px 15px 15px 15px;
    margin:0px;
}

h2{
    margin-bottom: 20px;
}

h3{
    letter-spacing: 1px;
}
h3::first-letter{
    color:rgb(101, 190, 253);
}
input{
    border-color:#6c757d;
    border-radius: 15px 15px 15px 15px;
    border-width: 100%;
}
#invite:hover, input[type="submit"]:hover{   
    background-color: lightblue;
}
h2{
    border-bottom-width: thin;
    border-bottom: blue;
    border-bottom-style: solid;
}

input[type="submit"]{
    margin: 0px 30px 0px 30px;
}
table{
    border-style: solid;
    border-width: 2px;
    margin: 5px 5px 20px 20px;
    padding: 5px;
}
.dropdown-pic{
    width: 50px;
}
.navbar-brand-logo{
    height:50px;
    width:70px;
}
